body {
    background-color:#303F9F;
    padding: 0 1em 0 1em;
    display: flex;
    justify-content: center;
    color: #212121;
}

#root {
    display:flex;
    
    justify-content: center;
    flex-direction: column;
    width:30em;
    
}

#building-wrapper {
    /* background-color: rgb(255, 255, 255); */
}

.building-div {
    padding:1em; 
    border: 1px solid rgb(225, 225, 225);
    background-color: #C5CAE9!important;
    color:#757575;
}

.active-building {
    background-color: white!important;
    color: #212121;
}

#money-div {
    padding: 0.6em;
    font-size: 1.6em;
    background-color: #d328a0;
    color: white;
    top:0;
    position:sticky;
}

h1 {
    font-size: 4em;
    padding:0;
    margin:0.5em;
    color:rgb(255, 255, 255);
    
}

input {
    min-width: 5em;
    height: 3em;
    background-color: #CDDC39;
    border-radius: 15px;
    border: 1px solid #BDBDBD;
}

input:disabled {
    background-color: #faffce;;
}

img {
    width:5em;
}

.reset-button {
    background-color: rgb(255, 101, 101)!important;
}
.save-button {
    background-color: #CDDC39!important;
}

.save-button, .reset-button {
    border-radius: 0;
    border: none;
}
input:hover {
    opacity: 0.9;
}